apiVersion: batch/v1
kind: Job
metadata:
  name: python-add-job
spec:
  backoffLimit: 1
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: python-add
        image: IMAGE_PLACEHOLDER